run command prompt as admin
navigate to the project folder
make sure there is a myenv file in your project folder
if not, run: python -m venv myenv
activate the virtual environment: myenv\Scripts\activate
some python stuff:
pip install --upgrade pip setuptools wheel
pip install numpy
needed for ANTsPy: pip install cmake

next: pip install antspyx

if pip doesn't work run all the following:
git clone https://github.com/ANTsX/ANTsPy.git
cd ANTsPy
python setup.py install

